<!DOCTYPE html>
<html>
	<head></head>
	<body>

	<input id='fileupload' type="file">

	<script>
        document.getElementById('fileupload').onchange = function() {
        var form = new FormData();
        form.append("myFile", document.querySelector('#fileupload').files[0]);

        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (this.readyState == 4) {
                document.querySelector("#messages").innerHTML += this.responseText+ "<br/>";
            }
        }
        xhr.open("POST", "/uploadFile?folder=${folder}", true);
        xhr.send(form);
        };
	</script>

    <div id="messages">
        <p>Status Messages</p>
    </div>

	</body>
</html>
